@font-face {
  font-family: Exo;
  src: url('../fonts/Exo/static/Exo-Medium.ttf');
}

@font-face {
  font-family: Slaztone;
  src: url('../fonts/Free-Slaztone-Brush-Font/Slaztone.otf');
}

.font-exo-medium {
  font-family: Exo;
}

.font-test {
  /* font-family: Slaztone; */
  font-family: 'Fredericka the Great';
}

.secondary-font {
  font-family: 'Kalam';
}

.bg-primary {
  background-image: url('../img/flat-design-background/47378842.jpg');
  background-color: unset !important;
}

.custom-bg {
  background-image: url('../img/flat-design-background/3224165.jpg');
}

.playing-bg {
  background-image: url('../img/flat-design-background/GD21-1.jpg');
}

.results-bg {
  background-image: url('../img/flat-design-background/003.jpg');
}

.bg-primary, .custom-bg, .playing-bg, .results-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.licence-image-link {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-section {
  height: 100vh;
}

.page-section-covered {
  background-color: #00000073;
  min-height: 100vh;
}

.lh-1-5 {
  line-height: 1.5 !important;
}

.text-secondary {
  color: #2c2c2c !important;
}

.portal-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
}

.portal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.2rem;
}

.clean-input-text {
  border-radius: 8px;
  border: none;
}

#QuizNameForm {
  display: none;
}

.big-yellow-button {
  background: #ffe54a;
  color: #242e37;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  transition: all .2s ease-in-out;
}

.big-yellow-button:hover, .play-button:hover {
  background: #f4d413;
  border: none;
  color: #fff;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 4px #f4d413,
              0 0 16px #f4d413,
              0 0 32px #f4d413,
              0 0 64px #f4d413;
}

#inline-cancel-button {
  border-radius: 5px;
  border: none;
}

#inline-validate-button:focus, #inline-cancel-button:focus {
  box-shadow: none;
}

#QuizName {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

#QuizName:focus {
  border: none;
  background-color: transparent;
  box-shadow:none;
}

#QuizName:required {
  box-shadow:none;
}

.question-butttons, .question-butttons:hover {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  color: #242424;
  background-color: #fff;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.checkboxes {
  display: inline-block;
  position: absolute;
  left: -33px;
  top: 4px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxes:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.checkboxes input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid white;
}

/* When the checkbox is checked, add a red background */
.checkboxes input:checked ~ .checkmark {
  border: 1px solid white;
}

.checkboxes.red-checkmark input:checked ~ .checkmark {
  background-color: #ac2f2f;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  font-family:courier;
  color:white;
  cursor: default;
}

.checkboxes.green-checkmark input:checked ~ .checkmark {
  background-color: #2fac54;
  content: "";
  cursor: default;
}

.checkboxes.no-bg input:checked ~ .checkmark {
  background-color: transparent;
  content: "";
  cursor: default;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxes.red-checkmark .checkmark:after {
  content: "+";
  position: absolute;
  display: none;
  left: 5px;
  top: -6px;
  color: white;
  transform: rotate(45deg);
  font-size: 28px;
}

.checkboxes.green-checkmark .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark input:checked:after {
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxes input:checked ~ .checkmark:after{
  display: block;
}

#DeleteQuestionFormDiv, #DeleteQuizFormDiv, #EditQuestionFormDiv {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9;
  background-color: #152032f7;
  padding: 0 30px 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px white;
  color: white;
}

.green-bg {
  background-color: #2fac54;
  color: white;
  border-radius: 4px;
}

.mw-500 {
  min-width: 500px;
}

#CreateQuizButton {
  background-image: url('../img/flat-design-background/47378842.jpg');
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}

#CreateQuizButton:focus {
  box-shadow:none;
}

.input-container {
  border-bottom: 1px solid #ffffffa8;
  min-width: 300px;
}

.form-box {
  background: transparent;
  padding: 15px;
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px #fff;
}

::-webkit-input-placeholder { /* Edge */
  color: white !important;
  opacity: .8 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
  opacity: .8 !important;
}

::placeholder {
  color: white !important;
  opacity: .8 !important;
}

.question_form_container {
	background-color: #152032d1;
	padding: 0 30px 20px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 3px white;
}

.quiz-title {
  font-size: 55px;
}

.big-title {
  font-size: 80px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-40 {
  font-size: 40px;
}

.summary-container {
  background-color: #0000009c;
  border: 1px solid white;
  border-radius: 20px;
}

.edit-question, .del-question {
  cursor: pointer;
}

.question-card {
  background-color: #152032;
  color: #fff;
  border-radius: 10px;
  border: 1px solid white;
}

.results-question-card {
  background-color: #fff;
  color: #242424;
  border-radius: 10px;
  box-shadow: 0px 0px 3px white;
}

.gradient-button{
  background-color: #0d141f;
  color: white;
  border: 1px solid;
  border: none;
}

.form-control {
  background-clip: unset;
}

.play-button {
  background-color: #242e37;
  color: #f4d413;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid;
}

.growing {
  transition: all .3s ease-in-out;
}

.growing:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.btn-tr{
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
}

.success-msg, .error-msg {
  border-radius: 8px;
  color: white;
}

.success-msg {
  background-color: #34ae34;
}

.error-msg {
  background-color: #b93f3f;
}

#msg_uncompleted_answers, #msg_no_right_answer {
  display: none;
}

.form-check-label {
  margin-bottom: 0;
  font-size: 19px;
}

.font-size-3 {
  font-size: 3rem;
}

.radius-10 {
  border-radius: 10px;
}

.white-bg {
  background-color: #fff;
}

.dark-text {
  color: #2d2d2d;
}

.difficulty-easy {
  background-color: #46b536;
}

.difficulty-medium {
  background-color: #e1c610;
}

.difficulty-hard {
  background-color: #b33030;
}

.difficulty-easy, .difficulty-medium, .difficulty-hard {
  border-radius: 10px 10px 0px 0px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: .5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.answer-row {
  cursor: pointer;
}
