<div id="DeleteQuestionFormDiv">
  <div class="pl-3 py-2 border-bottom">
    <h4 class="my-1" id="delete_question_title"></h4>
  </div>
  <form id="DeleteQuestionForm" class="py-3" action="" method="post">
    {% csrf_token %}
    <div class="mb-2 px-3">
      <h5 class="mb-3">
        {% if request.session.lang|default:"fr" == "fr" %}
          Êtes-vous sûr de vouloir supprimer cette question ?
        {% else %}
          Are you sure you want to delete this question ?
        {% endif %}
      </h5>
    </div>
    <div class="mb-2 px-3">
      <h5 class="mb-3 text-center font-weight-bold" id="delete_question_message"></h5>
    </div>
    <div class="row justify-content-around text-center">
      <div class="col">
        <button type="submit" onclick="CloseDeleteQuestionForm()" class="btn question-butttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Oui
          {% else %}
            Yes
          {% endif %}
        </button>
      </div>
      <div class="col">
        <div onclick="CloseDeleteQuestionForm()" class="btn question-butttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Annuler
          {% else %}
            Cancel
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
