<div id="EditQuestionFormDiv">
  <div class="pl-3 py-2 border-bottom">
    <h4 class="my-1 text-white" id="question_number"></h4>
  </div>
  <form id="EditQuestionForm" class="px-5 py-3" action="/create" method="post">
    {% csrf_token %}
      <div id="msg_uncompleted_answers" class="text-center mb-3 py-2 error-msg">
        <h5 class="mb-0">
          {% if request.session.lang|default:"fr" == "fr" %}
            Toutes les réponses visibles doivent être complétées.
          {% else %}
            All visible answers have to be completed.
          {% endif %}
        </h5>
      </div>

    <div id="msg_no_right_answer" class="text-center mb-3 py-2 error-msg">
      <h5 class="mb-0">
        {% if request.session.lang|default:"fr" == "fr" %}
          Il doit y avoir au moins une bonne réponse !
        {% else %}
          There must be at least one right answer !
        {% endif %}
      </h5>
    </div>

    <div class="form-group pb-3 mw-500">
      <input id="question_to_edit" class="form-control form-control-lg" type="text" placeholder="Question" name="question_text">
    </div>

    <div class="row justify-content-center">
      <div class="col-11">
        <div class="form-row justify-content-around mt-3 answers-section">
          <div class="col-6">
            <label class="checkboxes lightblue-checkmark" title="Check the right anwser">
              <input type="radio" name="is_ans_right">
              <span class="checkmark"></span>
            </label>
            <input type="text" class="form-control" name="answer">
          </div>
        </div>
      </div>
      <div class="col-1 p-0 mt-2 text-white">
        <div class="col-12 p-0">
          <button class="btn question-form-btn d-flex question-butttons mx-auto w-100" type="button" onclick="duplicate(6)"><h3 class="">+</h3></button>
        </div>
        <div class="col-12 p-0 mt-2">
          <button class="btn question-form-btn d-flex question-butttons mx-auto px-3 w-100" type="button" onclick="removeRow(2)"><h3 class="">-</h3></button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center mt-3 pt-3 buttons-section text-white">
      <div class="col">
        <button type="submit" class="btn question-butttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Éditer
          {% else %}
            Edit
          {% endif %}
        </button>
      </div>
      <div class="col">
        <div onclick="CloseEditQuestionForm()" class="btn question-butttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Annuler
          {% else %}
            Cancel
          {% endif %}
        </div>
      </div>
    </div>

  </form>
</div>
