<div id="ExitQuizFormDiv" class="pb-1">
  <div class="pl-3 py-2 border-bottom text-white">
    <h4 class="my-1">{{ quiz.title }}</h4>
  </div>
  <form class="py-3 text-white" action="/cancelquiz" method="post">
    {% csrf_token %}
    <div class="mb-3 mx-3">
      <h5 class="mx-2 text-center">
        {% if request.session.lang|default:"fr" == "fr" %}
          Votre progression sera perdue, êtes-vous sûr de vouloir quitter ?
        {% else %}
          Your progression will be lost, are you sure you want to go ?
        {% endif %}
      </h5>
    </div>
    <div class="row justify-content-around text-center text-white pt-3">
      <div class="col">
        <button type="submit" onclick="CloseExitQuizForm()" class="btn form-buttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Oui
          {% else %}
            Yes
          {% endif %}
        </button>
      </div>
      <div class="col">
        <div onclick="CloseExitQuizForm()" class="btn form-buttons px-3 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Non, je continue
          {% else %}
            No, take me back
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
