<div id="DeleteQuizForm">
  <div class="pl-3 py-2 border-bottom">
    <h4 class="my-1">{{ quiz.title }}</h4>
  </div>
  <form class="py-3 border" action="{% url 'deletequiz' quiz.id %}" method="post">
    {% csrf_token %}
    <div class="mb-2 px-3">
      <p class="mb-3">This action will delete your entire quiz. Are you sure you want to continue ?</p>
    </div>
    <div class="row justify-content-around text-center">
      <div class="col">
        <button type="submit" onclick="CloseDeleteQuizForm()" class="btn btn-dark">Yes</button>
      </div>
      <div class="col">
        <div onclick="CloseDeleteQuizForm()" class="btn btn-dark">Cancel</div>
      </div>
    </div>
  </form>
</div>
