{% extends 'base.html' %}
{% load static %}

{% block title %}Discover{% endblock title %}

{% block body %}
<section class="page-section bg-primary">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-6 text-center text-white">
        <a href="create" class="h3 text-white lh-1-5">Create</a>
      </div>
      <div class="col-6 text-center text-white">
        <a href="play" class="h3 text-white lh-1-5">Play</a>
      </div>
    </div>
  </div>
  <div class="container mt-5 text-center">
    <h1 class="display-3 text-white">Public quizzes</h1>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      {% for quiz in quizzes %}
        <a href="/startquiz/{{ quiz.id }}" class="col-3 px-3 m-3 border radius-10 dark-text white-bg growing">
          <div class="row p-2 border-bottom difficulty-easy text-white">
            <div class="col p-0">{{ quiz.id }}</div>
          </div>
          <div class="mt-2">
            <h5 class="">{{ quiz.title }}</h5>
            <p class="">{{ quiz.question_set.all|length }} questions</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

</section>
{% endblock body %}
