{% extends 'base.html' %}
{% load static %}

{% block title %}Discover{% endblock title %}

{% block body_class %}bg-primary{% endblock body_class %}

{% block body %}

<section class="page-section-covered pb-5">

  {% include "header_tabs.html" %}

  <div class="container mt-5 text-center">
    <h1 class="display-3 text-white font-fredericka">Public quizzes</h1>
  </div>

  {% if messages %}
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      {% for message in messages %}
        <div class="text-center mb-3 p-2 {{ message.tags }}-msg">
          <h5>{{ message }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="container mt-5">
    <form class="row justify-content-center text-white" action="/search" method="get">
      <div class="col-auto">
        <input type="text" name="search_text" placeholder="Title">
      </div>
      <div class="col-auto">
        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty">
          <option value="all">All</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="language">Language:</label>
        <select name="language" id="language">
          <option value="fr" selected>Fr</option>
          <option value="en">En</option>
        </select>
      </div>
      <div class="col-1 offset-1">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      {% for quiz in quizzes %}
        <a href="/startquiz/{{ quiz.id }}" class="col-3 px-3 m-3 border radius-10 dark-text white-bg growing">
          <div class="row p-2 border-bottom difficulty-{{ quiz.difficulty }} text-white">
            <div class="col p-0">{{ quiz.id }}</div>
            <div class="col-1">{{ quiz.language|upper }}</div>
          </div>
          <div class="mt-2">
            <h5 class="">{{ quiz.title }}</h5>
            <p class="">{{ quiz.question_set.all|length }} questions</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="text-white" id="return-to-top">
    <a href="#tabs"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
  </div>

</section>
{% endblock body %}
