{% extends 'base.html' %}
{% load static %}

{% block title %}Discover{% endblock title %}

{% block body_class %}bg-primary{% endblock body_class %}

{% block body %}

<section class="page-section">

  {% include "header_tabs.html" %}

  <div class="container my-5 text-center">
    <h1 class="display-2 text-white font-fredericka">
      {% if request.session.lang|default:"fr" == "fr" %}
        Quizz publiques
      {% else %}
        Public quizzes
      {% endif %}
    </h1>
  </div>

  {% if messages %}
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      {% for message in messages %}
        <div class="text-center mb-3 p-2 {{ message.tags }}-msg">
          <h5>{{ message }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="container mt-5 font-kalam">
    <form class="row justify-content-center" action="/search">
      <div class="col-4">
        <input class="search-input ml-2 dark-text" type="text" placeholder="Search.." name="search_text">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        <button class="reset-search-button ml-1" formaction="/"><i class="fas fa-undo"></i></button>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
    </form>

    <div class="row justify-content-center mt-2">
      {% for quiz in quizzes %}
        <a href="/pickdifficulty/{{ quiz.slug }}" class="col-3 px-3 m-3 card-border radius-10 dark-text white-bg growing h-min">
          <div class="mt-3">
            <h4 class="mb-3">{{ quiz.title }}</h4>
            <p class="mb-1">{{ quiz.question_set.all|length }} questions</p>
            <p class="">Code : {{ quiz.id }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="text-white" id="return-to-top">
    <a href="#tabs"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
  </div>

</section>
{% endblock body %}
