{% extends 'base.html' %}
{% load static %}

{% block title %}Play{% endblock title %}

{% block body_class %}bg-primary{% endblock body_class %}

{% block body %}
<section class="page-section">

  {% include "header_tabs.html" %}

  {% if messages %}
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      {% for message in messages %}
        <div id="alert" class="alert {{ message.tags }}-msg">
          <h5 class="mb-0">{{ message }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="portal-title">
    <h1 class="display-3 text-white font-fredericka">
      {% if request.session.lang|default:"fr" == "fr" %}
        Code de quizz
      {% else %}
        Quiz code
      {% endif %}
    </h1>
  </div>
  <div class="font-kalam quiz-code-form">
    <form class="" action="/pickdifficulty" method="get">
      <input class="dark-text clean-input-text py-1 px-2" placeholder="Ex. 441" name="quiz_id"></input>
      <button class="btn d-block mt-2 py-1 w-100 font-exo-medium play-button" type="submit">
        {% if request.session.lang|default:"fr" == "fr" %}
          Jouer
        {% else %}
          Play
        {% endif %}
      </button>
    </form>
  </div>
</section>
{% endblock body %}
