{% extends 'base.html' %}
{% load static %}

{% block title %}Play{% endblock title %}

{% block body %}
<section class="page-section bg-primary">
  <div class="container-fluid bg-secondary py-3">
    <div class="row">
      <div class="col-6 text-center text-white">
        <a href="create" class="h3 text-white lh-1-5">Create</a>
      </div>
      <div class="col-6 text-center text-white">
        <a href="/" class="h3 text-white lh-1-5">Discover</a>
      </div>
    </div>
  </div>

  {% if messages %}
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="portal-title">
    <h1 class="display-3 text-white">Quiz code</h1>
  </div>
  <div class="portal-form">
    <form class="" action="/startquiz" method="get">
      <input class="text-secondary clean-input-text py-1 px-2" name="quiz_id" placeholder="Quiz code"></input>
      <button class="btn d-block mt-2 py-1 w-100 font-exo-medium play-button" type="submit">Play</button>
    </form>
  </div>
</section>
{% endblock body %}
