{% extends 'base.html' %}
{% load static %}

{% block body_class %}custom-bg{% endblock body_class %}

{% block body %}
<div class="page-section-covered pt-5 h-100">

  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      <div class="mx-auto text-center">
        <h1 class="secondary-font text-white quiz-title">{{ quiz.title }}</h1>
        <h5 class="secondary-font text-white">Quiz code : {{ quiz.id }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mt-5 mx-auto">
      <div class="col-auto">
        <h2 class="font-exo-medium text-white">{{ quiz.question_set.all|length }} questions</h2>
      </div>
    </div>
  </div>

  <div class="container mt-5 text-white">
    {% for question in questions %}
      <div class="row justify-content-center font-exo-medium font-size-20 py-2 question-card mt-3">
        <div id="{{ forloop.counter0 }}" class="col-7 question-title" value="{{ question.title }}">
          {{ forloop.counter }}. {{ question.title }}
        </div>
        <div class="col-4">
          <div class="row">
            {% for answer in question.answer_set.all %}
              <div class="col-auto">
                {{ answer.title }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-1 my-auto">
          <div class="row">
            <div class="col-6 edit-question">
              <i class="far fa-edit"></i>
            </div>
            <div class="col-6 del-question">
              <i class="fas fa-trash-alt"></i>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <a href="/questioncreation">
      <div class="row justify-content-center font-exo-medium font-size-40 question-card mt-3">+</div>
    </a>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center py-5">
      <div class="col-auto mx-3">
        <form class="" action="/play" method="post">
          {% csrf_token %}
          <button type="submit" class="secondary-font d-flex px-3 mx-auto question-butttons growing"><h1 class="font-size-3 my-2 py-1">Validate</h1></button>
        </form>
      </div>
      <div class="col-auto mx-3">
        <button class="secondary-font d-flex px-3 mx-auto question-butttons growing" onclick="OpenDeleteQuizForm()"><h1 class="font-size-3 my-2 py-1">Delete</h1></button>
      </div>
    </div>
  </div>
</div>

{% include "delete_question_form.html" %}
{% include "edit_question_form.html" %}
{% include "delete_quiz_form.html" %}

{% endblock body %}
