{% extends 'base.html' %}
{% load static %}

{% block body_class %}playing-bg{% endblock body_class %}

{% block body %}

<div class="page-section-covered pt-5">
  <div href="#" class="close" onclick="OpenExitQuizForm()"></div>
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      <div class="mx-auto"><h1 class="font-exo-medium text-white">{{ quiz.title }}</h1></div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="text-white text-left mb-2 mt-5">
          <h5>Question {{ question_number }}</h5>
        </div>

        <div class="row justify-content-center my-5 mx-auto">
          <div class="col-auto">
            <div class="mx-auto"><h2 class="font-exo-medium text-white">{{ current_question }}</h2></div>
          </div>
        </div>

        <form id="quiz_form" class="text-center" action="/nextquestion" method="post">
          {% csrf_token %}

          <div class="row mt-3 ml-3 px-5 justify-content-center">
            {% for answer in current_question.answer_set.all %}
              <div class="col-5 ml-5">
                <label for="{{ answer.title }}" class="row mt-3 answer-row">
                  <div class="col-auto">
                    <label class="checkboxes green-checkmark" title="Check the right answer">
                      <input type="checkbox" name="checked_answer" id="{{ answer.title }}">
                      <span class="checkmark"></span>
                    </label>
                    <h3 class="text-white text-left">{{ answer.title }}</h3>
                  </div>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="row mt-5 justify-content-center">
            <button type="submit" class="px-3 py-2 btn-tr growing"><h2 class="mt-2 font-exo-medium text-white">Next</h2></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <a class="text-white licence-image-link" href="https://www.vecteezy.com/free-vector/blue-burst">Blue Burst Vectors by Vecteezy</a>
</div>

{% include "forms/exit_quiz_form.html" %}

{% endblock body %}
