{% extends 'base.html' %}
{% load static %}

{% block body_class %}custom-bg{% endblock body_class %}

{% block body %}

<div class="row justify-content-center mt-5 mx-auto">
  <div class="col-auto">
    <div class="mx-auto"><h1 class="font-exo-medium text-white">{{ quiz.title }}</h1></div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-7">

      <form id="quiz_form" class="text-center" action="submitquiz" method="post">
        {% csrf_token %}

        <div class="question-section mt-5">
          <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Question" name="question_text">
          </div>

          <div class="form-row justify-content-around mt-5">
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Answer A" name="ans1">
            </div>
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Answer B" name="ans2">
            </div>
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
          </div>

          <div class="form-row justify-content-around mt-3">
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Answer C" name="ans3">
            </div>
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Answer D" name="ans4">
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="mt-5 col-auto">
              <button type="submit" class="btn btn-dark d-flex question-butttons" formaction="/addquestion"><i class="fas fa-plus-circle fa-2x my-auto ml-2 mr-3"></i><h3 class="">Add question</h3><i class="fas fa-plus-circle fa-2x my-auto ml-2 mr-3"></i></button>
            </div>
            <div class="mt-5 col-auto">
              <button type="submit" class="btn btn-dark d-flex question-butttons"><i class="fas fa-clipboard-check fa-2x my-auto ml-2 mr-3"></i><h3 class="">Finished</h3><i class="fas fa-clipboard-check fa-2x my-auto mr-2 ml-3"></i></button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

{% endblock body %}
