{% extends 'base.html' %}
{% load static %}

{% block body_class %}playing-bg{% endblock body_class %}

{% block body %}

<div class="page-section-covered pt-5">
  <div>
    <i class="fas fa-arrow-left fa-2x text-white go-back-arrow growing" onclick="goBack()"></i>
  </div>
  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      <div class="mx-auto">
        <h1 class="font-exo-medium text-white">{% with quizzes|first as quiz %}{{ quiz.title }}{% endwith %}</h1>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5 mx-auto">
    <div class="col-auto">
      <div class="mx-auto">
        <h1 class="font-exo-medium text-white">
          {% if request.session.lang|default:"fr" == "fr" %}
            Choisis une difficulté
          {% else %}
            Pick a difficulty
          {% endif %}
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">

        <div class="container mt-5">
          <div class="row justify-content-center">
            {% for quiz in quizzes %}
              <a href="/play/{{ quiz.difficulty }}/{{ quiz.slug }}" class="col-3 px-3 m-3 border radius-10 dark-text white-bg growing">
                <div class="row p-2 border-bottom difficulty-{{ quiz.difficulty }} text-white">
                  <div class="col text-center font-exo-medium">{{ quiz.difficulty|upper }}</div>
                </div>
                <div class="mt-2">
                  <h5 class="">{{ quiz.title }}</h5>
                  <p class="">{{ quiz.question_set.all|length }} questions</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>

    </div>
  </div>
</div>
{% endblock body %}
