<div id="pop-up-form" class="text-white secondary-bg">
  <div class="pl-3 py-2 border-bottom">
    <!-- Pop up title -->
    <h4 class="my-1"></h4>
  </div>
  <!-- Form action -->
  <form class="py-3" action="" method="post">
    {% csrf_token %}
    <div class="mb-3 mx-3">
      <!-- Message -->
      <h5 class="mx-2 text-center responsive-typo"></h5>
    </div>
    <div class="row justify-content-around text-center darker-text pt-2">
      <div class="col-auto">
        <button onclick="ClosePopUpForm()" class="form-buttons primary-bg px-3 py-1 font-size-20" type="submit">
          {% if request.session.lang|default:"fr" == "fr" %}
            Oui
          {% else %}
            Yes
          {% endif %}
        </button>
      </div>
      <div class="col-auto">
        <div onclick="ClosePopUpForm()" class="form-buttons primary-bg px-3 py-1 font-size-20">
          {% if request.session.lang|default:"fr" == "fr" %}
            Annuler
          {% else %}
            Cancel
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
