<div id="question-card" class="row my-3 mx-auto text-white question-card-row">
  <div class="col-md-9 pt-2 gray-bg radius-left">
    <p class="responsive-typo text-break">Votre quizz est vide, commencez par ajouter une question.<br>Vos questions apparaîtront ici.</p>
    <i class="fas fa-times top-right hoverable d-block d-md-none delete-question"></i>
  </div>
  <div class="col-md-3 radius-right secondary-bg">
    <div class="row py-1 align-items-center h-100">
      <div class="col-6 col-md-10 px-1 text-break">Et vos réponses ici</div>
      <div class="col-6 col-md-10 px-1 text-break">-</div>
      <div class="col-6 col-md-10 px-1 text-break">-</div>
      <div class="col-6 col-md-10 px-1 text-break">-</div>
      <i class="fas fa-times top-right hoverable d-none d-md-block delete-question"></i>
    </div>
  </div>
</div>
