<div id="question_creation_card" class="row my-2 mx-auto text-white">
  <div class="col-md-9 pt-2 gray-bg radius-left">
    <p class="responsive-typo">Votre quizz est vide, commencez par ajouter une question.<br>Vos questions apparaîtront ici.</p>
  </div>
  <div class="col-md-3 radius-right secondary-bg">
    <div class="row py-1 align-items-center h-100">
      <div class="col-6 col-md-12 px-1">Et vos réponses ici</div>
      <div class="col-6 col-md-12 px-1">-</div>
      <div class="col-6 col-md-12 px-1">-</div>
      <div class="col-6 col-md-12 px-1">-</div>
    </div>
  </div>
</div>
